<%= form_tag(a) do |a|%>
    <% for i in 0..@article.num_of_questions-1 do %>
        <p><%= @article.questions.split("~!@")[i] %></p>
        <% for j in 0..@article.num_of_answer_choices-1 do %>
            <%= radio_button_tag @article.questions.split("~!@")[i], @article.answer_choices.split("~!@")[j].to_s[2], false %>
            <span><%= @article.answer_choices.split("~!@")[j+(i*@article.num_of_answer_choices)] %></span>
            <p></p>
        <% end %>
        <hr>
    <% end %>
    <%= submit_tag "Submit" %>
<% end %> 