<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "German Learning" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "GermanLearning" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :header %>
    <%= csrf_meta_tags %>
    <style>
       #google_translate_element {
         position: absolute;
         left: -5px;
         z-index: 1;
       }
       #header {
         margin-top: 5px;
       }
      .goog-te-banner-frame.skiptranslate {display: none !important;} 
      body { top: 0px !important; }
    </style>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
      
    </header>
    <main role="main">
      <h1>German Learning</h1>
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%= render 'layouts/translator_plugin' %>
  </body>
</html>
