<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "German Learning" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "GermanLearning" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :header %>
    <%= csrf_meta_tags %>
    <style>
      body {
        background-color: #eee;
        height: screen.height;
      }
      #google_translate_element {
        position: relative !important;
        bottom: 0px;
        background-color: #eee;
        box-shadow: 0px 0px;
        border-width: 0px;
      }
      .goog-te-gadget, .goog-te-gadget-simple {
        height: 39px;
      }
      .goog-te-gadget-simple {
        width: 200px;
        border-radius: 15px;
        padding: 10px 10px;
        margin: 5px;
        box-shadow: 5px 5px #888888;
      }
      .goog-te-menu-value {
        position: absolute;
        top: 10px;
        right: 40px;
        margin: auto;
      }
      .goog-te-menu-value img {
        display: none;
      }
    </style>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
      
    </header>
    <main role="main">
      <h1>German Learning</h1>
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%= render 'layouts/translator_plugin' %>
  </body>
</html>
